* {
    margin: 0;
    text-decoration: none;
    font-family: 'Archivo';
}

.nav-link {
    color: black;
    font-weight: 500;
}


.profile {
    width: 30px;
    border-radius: 50%;

}

.mentor {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

footer {
    background-color: #1D293F;
    height: 3.5rem;
    color: white;
    padding: 15px;
    font-weight: 300;
    font-size: small;
}

.lib-subtittle {
    color: #9896a5;
}

#list {
    margin-left: 800px;
}

.card {
    max-width: 250px;
    border: none;
    border-radius: 10px;
}

.kategori {
    text-decoration: none;
    color: #1D293F;
}


#page-container {
    position: relative;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
}

#footer {
    margin-top: auto;
}


/* Untuk Halaman index.Materi */
.webdev {
    font-weight: 600;
    font-family: 'Archivo', sans-serif;
    margin-top: 1.5rem;
}

.deskripsi {
    color: #9C9AAA;
}

.deskripsi p {
    color: #9C9AAA;
    text-align: justify;
}

.enroll {
    background-color: #B48BF0;
    color: white;
    border: none;
}

.enroll:hover {
    background-color: #8c66c5;
    color: white;
}

.rounded-pill {
    border: none;
    color: #748FED;
    background: #ece8f3;
}

.col-7 .border {
    width: 38rem;
}

.vid {
    color: black;
}

.listvid {
    padding: 4px;
    margin-bottom: 5px;
}

.list {
    padding-left: 2.5rem;
}

.list:hover {
    background-color: #9c9aaa1a;
}

.dfy {
    font-size: 12.9px;
    color: #9C9AAA;
}

#now {
    background-color: #c1bdd83c;
}

/* Sidebar Filter */
#collapseFilter {
    height: 5rem;
}

#filterButton {
    background-color: #B48BF0;
    color: white;
}


.filter {
    list-style: none;
    padding: 0;
}

.filter-item {
    font-weight: bold;
    font-size: larger;
}

.filter-item a {
    text-decoration: none;
    color: rgb(70, 68, 70);
}

.collapse-li {
    padding-left: 1rem;
    padding-top: 0.5rem;
    transition: 1s;
}

.collapse-horizontal {
    transition: 0.5s;
}

/* Comment Reply */
.reply-reply {
    margin-left: 1.5rem;
}

.reply-reply .date {
    margin: 0rem 0rem 0rem 1rem;
    padding: 0rem;
    font-weight: bold;
    font-size: 12px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.4);
}

.reply-reply .text {
    margin-bottom: 0.5rem;
}

.forum {
    margin-left: 4rem;
}

.reply-reply a {
    font-size: 1rem;
    margin-top: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
    text-decoration: none;
}

.tambah-pertanyaan a :hover {
    color: gray;
}

.tambah-pertanyaan button {
    border: none;
    background-color: #8c66c5;
}

.isi:hover {
    color: gray;
}

/* Dashboard */

.analytic {
    font-family: 'Archivo', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

.courses {
    font-family: 'Archivo', sans-serif;
    font-size: 1.5rem;
}

.new {
    border-radius: 10px;
}

/* Course dashboard */
.course {
    position: relative;
}

.course img {
    width: 100%;
    height: auto;
}

.course .b-editcourse {
    position: absolute;
    top: 10%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 2.4rem;
}

.course .b-deletecourse {
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 2.4rem;
}

.course i {
    color: #555;
}

/* Dashboard Student */
.enrolled {
    font-family: 'Archivo', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    font-weight: bold;
}

.studentContent h5 {
    font-family: 'Archivo', sans-serif;
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
    color: #1D293F;
}

.progress-bar {
    background-color: #8c66c5;
}

.loadMore:hover {
    background-color: #8c66c5;
    color: white;
    font-family: 'Archivo', sans-serif;
    border: 1px solid #8c66c5;
}

.loadMore {
    color: #8c66c5;
    font-family: 'Archivo', sans-serif;
    border: 1px solid #EAE9F2;
}

.percent span {
    position: absolute;
    text-align: right;

}